@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Flamenco&family=Great+Vibes&family=Josefin+Slab:wght@600&family=Pixelify+Sans&family=Sacramento&family=Space+Mono&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #d4f809, #e9098b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 5);
}
.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: #fff;
    background: #271f24;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 7);
    border-radius: 10px;
    letter-spacing: 3px;
}
.relogio span.tempo {
    font-size: 10px;
}
